default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: root
  host: 127.0.0.1

development:
  <<: *default
  database: hello_world_rails_development

test:
  <<: *default
  database: hello_world_rails_test

production:
  <<: *default
  reconnect: false
  database: hello_world_rails_production
  username: root # This is sample username
  password: root # This is sample password
  host: 0.0.0.0 # This is sample host
